.MP1-hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    padding: 2rem 4rem;
    overflow: hidden;
    position: relative;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 30px;
}

.MP1-image-section {
    flex-basis: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MP1-map-image {
    width: 100%;
    max-width: 550px;
    height: auto;
    object-fit: contain;
}

.MP1-content-section {
    flex-basis: 45%;
    padding-left: 2rem;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.MP1-logo {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 1rem;
}

.MP1-logo-food {
    color: #FFC107;
}

.MP1-logo-health {
    color: #FF7043;
}

.MP1-headline {
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 1;
    margin: 0;
    margin-bottom: 1rem;
}

.MP1-a {
    color: #d11414;
}

.MP1-description {
    font-size: 0.9rem;
    color: #666;
    margin: 0;
    margin-bottom: 2.5rem;
    max-width: 350px;
}

.MP1-stats {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.MP1-stat-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.MP1-stat-number {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
}

.MP1-stat-label {
    font-size: 0.8rem;
    color: #777;
}

.MP1-stat-divider {
    height: 40px;
    width: 1px;
    background-color: #E0E0E0;
}

.MP1-btn {
  width: fit-content;
  display: inline-block;
  margin-top: 1.8rem;
  padding: 0.75rem 2rem;
  background-color: #2c2c2c; 
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s ease;
  border: 2px solid #000000;
}

.MP1-btn:hover {
  background-color: transparent;
  color: #000000;
}


