
  
  main {
    display: flex;
    padding: 20px;
    max-width: 1200px; 
    margin: 0 auto; 
  }
  
  main > div:first-child {
    flex: 1;
    padding-right: 20px;
  }
  
  main img {
    width: 100%;
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
  }
  
  main h2 {
    color: #224477;
    font-size: 2.2em;
    margin-bottom: 0.5em; 
  }
  
  main h3 {
      color: #336699;
      font-size: 1.5em;
      margin-bottom: 1em;
  }
  
  main p {
    line-height: 1.6; 
    color: #555;
  }
  
  .translate-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .translate-button button {
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.2s ease-in-out; 
  }
  
  .translate-button button:hover {
    background-color: #009900; 
  }
  

  @media (max-width: 768px) {
    main {
      flex-direction: column; 
    }
  
    main > div:first-child {
      padding-right: 0;
    }
  }