.what-we-do-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://www.samarthinc.net/images/contact-us-and-support-concept-and-digital-network-with-blue-space-background.webp") no-repeat center center;
  background-size: cover;
  padding: 40px;
  gap: 30px;
  min-height: 30vh;
}

.what-we-do-content {
  background-color: rgba(51, 51, 51, 0.9); 
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  color: #fff;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.description {
  font-size: 1.1rem;
  margin-bottom: 20px;
  line-height: 1.5;
}

.cta-button {
  background-color: #f4f4f4;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #ddd;
}

@media (max-width: 768px) {
  .what-we-do-container {
    flex-direction: column;
    text-align: center;
  }

  .what-we-do-content {
    max-width: 100%;
  }

}
