.sale-form-container {
  margin: auto;
  padding: 20px;
  background-color: #11182c;
  color: white;
  text-align: center;
  justify-items: center;
}

.form-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: black;
  margin-bottom: 10px;
}

textarea {
  height: 80px;
  resize: none;
}

.form-group-row {
  display: flex;
  gap: 10px;
}

.form-group-row input {
  width: 50%;
}

.form-group-row select {
  width: 33%;
}

.file-upload {
  display: block;
  background-color: #d9d9d9;
  color: black;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.file-upload input {
  display: none;
}

.submit-button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #555;
}

.image-preview {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
  margin-bottom: 15px;
  border-radius: 8px;
}

.error-message {
  color: #ff4d4d;
  margin-bottom: 10px;
  font-weight: bold;
}
