.WApickup-schedule-container {
    font-family: sans-serif;
    background-color: #2F4550;
    color: #fff;
    min-height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .WApage-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .WAschedule-title {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .WAschedule-description {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
  }